<div class="container m-5">
    <form class="row g-3">
      <label for="stockInput">Enter the symbol of a stock to track <span class="fw-light">(i.e. AAPL, TSLA, GOOGL)</span></label>
      <div class="col-6">
        
        <input type="text" [formControl]="stockSymbol" maxlength="5" class="form-control my-3" id="stockInput" >
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-dark my-3" id="trackBtn" (click)="saveArray()">Track Stock</button>
      </div>
    </form>
<!-- <ng-template *ngIf="stockArray"> -->
  <div *ngFor="let stocks of tempArray">
    <app-stockquote [symbol]="stocks"></app-stockquote>
  </div>
<!-- </ng-template> -->

